/*defining fonts */
@font-face {
    font-family: "Adwaita Sans";
    src: url("./fonts/Adwaita-Sans-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    
    margin:0;
    padding:0;
    background-image: url("./images/background-black.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.title{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    height:10%;
    width:100%;
    font-family : "Adwaita sans", sans-serif;
    color: white;

}
.overview{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    height:10%;
    width:100%;
    
    font-family : "Adwaita Sans", sans-serif;
    color: white;
}